<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        rep0st
    </title>
    <link href="{{ url_for('static', filename='images/rep0st-favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet" type="text/css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143695610-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-143695610-1');
    </script>
</head>
<body>

<h1>rep0st</h1>

<p>
    rep0st minimiert das Risiko von Benisverkürzungen durch Reposts. Mithilfe unserer Skalarwellentechnologie
    wurden alle Bilder, die je auf dem pr0gramm gepostet wurden, auf dem im pr0gramm Hauptquartier befindlichen
    SNASA Cluster aufbereitet und indiziert. Mithilfe von reichlich Magie wird dann dein Bild mit der Datenbank
    verglichen. Angezeigt werden dann Bilder, die deinem Bild ähnlich sind! (Kann p0rn und g0re enthalten!)
</p>
<p>
    Die Suche ist natürlich nicht perfekt. Wenn kein ähnliches Bild gefunden
    wurde, heißt das nicht, dass heute kein rep0st deinen Keller verlassen wird.
    Findest du unter den Ergebnissen jedoch einen Upload und lädst das Bild trotzdem
    hoch, so ist Minusbenis nicht mehr weit.
</p>
<p>
    Durchsucht werden alle sfw, nsfw und nsfl Bilder von <strong>1-{{stats["index"]["latest_post"]}}</strong>.<br>
    Für Benisverkürzungen, die durch nicht erkannte Reposts entstanden sind, können wir nicht haften!
</p>
<p>
    Sourcecode: <a href="https://github.com/ReneHollander/rep0st">github.com/ReneHollander/rep0st</a><br>
    Maintainer: <a href="https://pr0gramm.com/user/Rene8888">/user/Rene8888</a>.
</p>

{% if error %}
<div id="box_error">
    <h3>Ein Fehler ist aufgetreten!</h3>
    {{error}}
</div>
{% endif %}

{% if search_results %}
<h3>Diese Bilder sind dem hochgeladenen ähnlich:</h3>
<div class="result-list">
    {% for search_result in search_results %}
    <a href="https://pr0gramm.com/new/{{search_result.post.id}}" style="background-image:url(https://img.pr0gramm.com/{{search_result.post.image}});" target="_blank"></a>
    {% endfor %}
</div>
{% endif %}

<div id="box">
    <h2>Suche</h2>
    <p>Wähle ein Bild aus und lade es hoch, um nach ähnlichen Bildern auf dem pr0gramm zu suchen.</p>
    <p>
        <strong>Keine webm oder gif!</strong>
    </p>
    <form action="/" enctype="multipart/form-data" method="post">
        <div style="display: flex; flex-direction: column;">
            <div>Bild: <input class="inputfile" id="image" name="image" type="file"/><label for="image" id="imageUpload">Wählen Sie eine Datei aus</label></div>
            <div style="margin-top: 6px;">oder</div>
            <div>URL: <input autofocus="" name="url" type="text" /></div>
            <div style="margin-top: 8px;"><input type="submit" value="rep0st?" /></div>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/uploadenhance.js') }}"></script>
</body>
</html>
