<!DOCTYPE html>
<html>
<head>
    <title>
        rep0st
    </title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='images/rep0st-favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	
	<link href="{{ url_for('static', filename='css/ninja-slider.css')}}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/ninja-slider.js')}}" type="text/javascript"></script>
	
	
</head>

<body>
{% if error %}
<div id="box_error">
    <h3>Ein Fehler ist aufgetreten!</h3>
    {{error}}
</div>
{% endif %}

{% if search_results %}
<h3>Diese Bilder sind dem hochgeladenen ähnlich:</h3>
<div id="ninja-slider">
        <div class="inner">
            <ul>
				{% for search_result in search_results %}
					
					<li><a class="ns-img" href="https://img.pr0gramm.com/{{search_result.post.image}}"></a></li>
				{% endfor %}
            </ul>
        </div>
    </div>
    
</div>
{% endif %}

<div id="box">
    <h2>Suche</h2>
    <p>Wähle ein Bild aus und lade es hoch um nach ähnlichen Bildern auf pr0gramm zu schauen.</p>
    <p>
        <strong>Keine webm oder gif!</strong>
    </p>
    <form action="/" method="post" enctype="multipart/form-data">

        Bild: <input name="image" id="image" type="file" class="inputfile"/><label id="imageUpload" for="image">Wählen
        Sie eine Datei
        aus</label>
        <p/>
        oder<p/>
        URL: <input name="url" autofocus="" type="text"/>
        <p/>
        <input value="rep0st?" type="submit"/>
    </form>
</div>

<script language="javascript" type="text/javascript"
        src="{{ url_for('static', filename='js/uploadenhance.js') }}"></script>
</body>
</html>