<!DOCTYPE HTML>
<html>
<head>
    <title>rep0st</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swipe-mobile.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/swipe.js') }}"></script>
    <script>
        $(document).ready(function () {
            var elem = document.getElementById('mySwipe');
            window.mySwipe = Swipe(elem, {});
        });
    </script>
</head>
<body>
    <h3>Um zu dem Post auf dem pr0gramm zu gelangen, musst du nur auf das Bild tippen.</h3>
    <div id="box">
        <h2>Suche</h2>
        <p>Wähle ein Bild aus und lade es hoch um nach ähnlichen Bildern auf dem pr0gramm zu schauen.</p>
        <p>
            <strong>Keine webm oder gif!</strong>
        </p>
        <form action="/" method="post" enctype="multipart/form-data">
            Bild: <input name="image" id="image" type="file" class="inputfile" /><label id="imageUpload" for="image">
                Wählen
                Sie eine Datei
                aus
            </label>
            <p />
            oder<p />
            URL: <input name="url" autofocus="" type="text" />
            <p />
            <input value="rep0st?" type="submit" />
        </form>
    </div>

    {% if search_results %}
    <h3>Diese Bilder sind dem hochgeladenen ähnlich:</h3>
    <div id='mySwipe' style='margin:0 auto' class='swipe'>
        <div class='swipe-wrap'>
            {% for search_result in search_results %}
            <!-- <div><img src="https://img.pr0gramm.com/{{search_result.post.image}}" width=100% /></div> -->
            <div> <a href="https://pr0gramm.com/new/{{search_result.post.id}}"> <img src="https://img.pr0gramm.com/{{search_result.post.image}}" width=100% /> </a></div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


</body>
</html>
