#box_error {
    color: #ccc;
    border: 1px solid #ad0000;
    padding: 20px;
    background-color: #ce2929;
}

body{
    background:#161618;
    font-family:sans-serif;
    line-height:1.3;
    color:#f2f5f4;
    font-size:14px;
    padding:0;
    margin-left:25%;
    margin-right:25%;
    min-height:100%;
}

input[type="submit"] {
    font-weight: normal;
    display: inline-block;
    text-align: center;
    padding: 8px 8px 6px 8px;
    margin: 0;
    color: #F5F7F6;
    cursor: pointer;
    background-color: #ee4d2e;
    background-color: var(--theme-main-color);
    font-size: 12px;
    outline: none;
    background-color: #ee4d2e;
}

input, textarea {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    border: 0;
    background-color: #1B1E1F;
    color: #bbb;
    outline: none;
    padding: 5px;
    appearance: none;
    -webkit-appearance: none;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inputfile{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label{
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    border: 0;
    background-color: #1B1E1F;
    color: #bbb;
    outline: none;
    padding: 5px;
    appearance: none;
    -webkit-appearance: none;
}

.result-list a{
    display: inline-block;
    width: 10em;
    height: 10em;
    background: rgba(0,0,0,0.8) 50% no-repeat;
        background-color: rgba(0, 0, 0, 0.8);
        background-image: none;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 50%;
        background-position-y: center;
        background-size: auto auto;
    background-size: contain;
    overflow: hidden;
}




/*********************************************************************************/

    ul.enlarge{
    list-style-type:none; /*remove the bullet point*/
    margin-left:0;
    }
    ul.enlarge li{
    display:inline-block; /*places the images in a line*/
    position: relative;
    z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
    margin:10px 40px 0 20px;
    }
    ul.enlarge img{
    background-color:#eae9d4;
    padding: 6px;
    -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
    ul.enlarge span{
    position:absolute;
    left: -9999px;
    background-color:#eae9d4;
    padding: 10px;
    font-family: 'Droid Sans', sans-serif;
    font-size:.9em;
    text-align: center;
    color: #495a62;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
    box-shadow: 0 0 20px rgba(0,0,0, .75);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius:8px;
    }
    ul.enlarge li:hover{
    z-index: 50;
    cursor:pointer;
    }
    ul.enlarge span img{
    padding:2px;
    background:#ccc;
    }
    ul.enlarge li:hover span{
    top: -300px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
    left: -20px; /*distance from the left of the thumbnail to the left of the popup image*/
    }
    ul.enlarge li:hover:nth-child(2) span{
    left: -100px;
    }
    ul.enlarge li:hover:nth-child(3) span{
    left: -200px;
    }
    /**IE Hacks - see http://css3pie.com/ for more info on how to use CS3Pie and to download the latest version**/
    ul.enlarge img, ul.enlarge span{
    behavior: url(pie/PIE.htc);
    }

